@import "../Icons/fontello-embedded.css";
@import "layout.less";
@import "sitemap.less";
@import "busybox.less";
@import "form.less";
@import "misc.less";
@import "nbox.less";
@import "print.less";
@import "solicitacao.less";

body, html, form {
    font: @font-base;
    margin: 0;
    //height: 100%;
    width: 100%;
    min-height: 100%;
    background-color: @body-bg;
}
a {
    text-decoration: none;
    color: @link;
    &:hover {
        text-decoration: underline;
    }
}

.f8 {
    font-size: @f8;
}

.f10 {
    font-size: @f10;
}

.f14 {
    font-size: @f14;
}

.f16 {
    font-size: @f16;
}

.c-black {
    color: black;
}

.c-white {
    color: white;
}

.n-btn-upload::-webkit-file-upload-button {
    font: @font-base;
}

.date-picker {
    background: white;
    align-items: center;
}

.date-picker .nav {
    margin: 0 auto;
    margin-top: 10px;
    height: 33px;
    border-bottom: 1px solid #E5E5E5;
}

.date-picker .button {
    border: none;
    color: #333333;
}

.date-picker .button:hover {
    color: @primary-yellow;
}

.date-picker td {
    border: none;
    border-radius: 20px;
    width: 35px;
    height: 35px;
}

.date-picker table {
    margin: 10px;
}

.date-picker td.selected {
    background: #054589;
    color: white;
}

.date-picker table thead {
    display: none;
}

.n-tabs {
    background: #ffffff;
    margin-top: 25px;

}

.n-tabs > label{
    background: white;
    color: #828282;
    border: none;
    font-family: @font-medium;
}

.n-tabs > input[type=radio]:checked + label {
    color: @primary-blue;
    font-family: @font-base;
}

.ml-8 {
    margin-left: 8px;
}

.c-primary-yellow {
    color: @primary-yellow;
}

.c-primary-blue {
    color: @primary-blue !important;
}

.n-grid-pager td {
    background-color: white;
    padding-top: 14px !important;
    padding-right: 0 !important;
}

.c-arrow-not-selected {
    color: @input-arrow-not-selected;
}

.n-paginator {
    text-align: right;
}

.n-paginator span i, .n-paginator a i {
    padding: 10px 12px 10px 12px;
    border-radius: 3px;
    background: @primary-light-grey-header2;
}

.n-paginator :last-child {
    margin-left: 3px;
}

.n-paginator span:first-child {
    margin-right: 10px;
}

.n-paginator a i:hover {
    filter: brightness(90%);
}

i.select-true {
    color: @primary-blue;
}