@import 'https://fonts.googleapis.com/css?family=Roboto:300';

@font-face {
    font-family: "NerpSemiBold";
    src: url("/Content/Fontes/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "NerpBold";
    src: url("/Content/Fontes/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "NerpMedium";
    src: url("/Content/Fontes/Montserrat-Medium.ttf");
}

// Fontes disponiveis no NBox
@font-base: 13px 'NerpSemiBold', sans-serif;
@font-monospace: 13px 'NerpSemiBold', monospace;
@font-title: 'NerpBold', sans-serif;
@font-medium: 'NerpMedium', sans-serif;
@density        : 1;
@gutter         : 15px;
@f8             : 8pt;
@f10             : 10pt;
@f14             : 14pt;
@f16             : 16pt;

@body-bg        : white;
@logo-bg        : #073a77;
@header-bg      : #E9E9E9;
@header-fc      : #545454;
@marked-color   : #FF9500; // linhas laranjas
@yellow-primary : #FABB00;
@primary-blue   : #054589;
@primary-drak-grey  : #828282;
@primary-light-grey : #D6D6D6;
@primary-light-grey-header: #FCFCFC;
@primary-light-grey-header2: #F2F2F2;
@font-menu  :   #4F4F4F;
@primary-yellow : #FABB00;
@primary-cyan   : #15B0BF;
@primary-light-green    : #6FCF97;
@primary-darkness-grey  : #333;
@input-color    : #C1D1E1;
@input-arrow-not-selected: #BDBDBD;

@menu-bg : #073a77;
@titleapp-bg : #07080B;

@default : whitesmoke;
@primary : darken(#428bca, 6.5%);
@danger : #d9534f;
@info : #5bc0de;
@success : #5cb85c;
@warning : #e3a21a;

@font-color : #545454;
@link : #00A6EB; //#0099ff;
@grid-border : rgba(222, 228, 233, 1); // darken(#eaeef1, 4%);
@input-border : #cbd5dd;

@menu-size: 0px;
@logo-zoom: .7;
@header-size: 102px;
@content-margin: 30px;
@max-width: 1366px - @menu-size - (@content-margin * 2);

.mt-30 {
    margin-top: 30px;
} 

.c-primary-blue{
    font-size: 14pt;
    color: @primary-blue;
}

.radius-right-0, #content_ucGestor_txtPessoa {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.mt-70 {
    margin-top: 70px
}
