@import "base.less";

/*
    BusyBox
*/
.busybox {
    display: none;

    label {
        position: fixed;
        right: 0;
        top: 0;
        margin: @gutter @gutter;
        padding: 22px 30px 22px 40px;
        border-radius: 4px;
        min-width: 200px;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
        background-color: @primary-blue;
        border: 1px solid darken(@primary-blue, 10%);
        color: white;
        text-align: center;
        z-index: +99999;
    }

    i {
        position: absolute;
        top: 12px;
        left: 16px;
        font-size: 16px;
        padding: 7px 8px 8px 9px;
        border-radius: 50%;
        color: white;
        background-color: #ffe699;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, .3);
        z-index: +99998;
    }
}

