@import "base.less";

@wide-size: 80px;

.form {
    border-collapse: collapse;
    color: @font-color;
    background-color: white;
    width: 100%;
    border: 1px solid @grid-border;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0, .02);
    caption {
        padding: 8px;
        background-color: #E9EBEB;
        border-left: 1px solid @grid-border;
        border-top: 1px solid @grid-border;
        border-right: 1px solid @grid-border;
        text-transform: uppercase;
        text-align: left;
        font-weight: 600;
    }
    & > tbody {
        & > tr {
            border-bottom: 1px solid @grid-border;
            &:last-child {
                border-bottom: none;
            }
            & > td {
                vertical-align: middle;
                height: 40px;
                padding: 5px 5px;
                &:nth-child(2n+1) {
                    vertical-align: top;
                    padding-top: 10px;

                    width: @wide-size;
                    -ms-word-break: break-word;
                    word-break: break-word;
                    text-align: right;
                    white-space: nowrap;
                    background-color: #f8f8f8;
                    min-width: 150px;
                }
                &:nth-child(2n+0) {
                    width: unset;
                }
                &:only-child, &:last-child {
                    width: unset;
                    text-align: left;
                    background-color: white;
                    vertical-align: middle;
                    padding-top: 5px;
                }
            }
            &.caption {
                text-align: left;
                font-weight: bold;
                border-bottom: 1px solid @grid-border;
                margin: 0 -5px;
            }
        }
    }
    .field {
        border: none;
        background-color: transparent;
        color: @primary-darkness-grey;
    }
    small {
        position: relative;
        top: -1px;
    }
}
.form-2 {
    & > tbody > tr > td:nth-child(2n+0) {
        width: 50%;
    }
}
.form-3 {
    & > tbody > tr > td:nth-child(2n+0) {
        width: 33%;
    }
}

.field {
    border: 1px solid @input-border;
    border-radius: 5px;
    background-color: #F9F9F9;
    color: @primary-darkness-grey;
    padding: 11px 12px;
    display: inline-block;
    width: 100%;
    min-height: 40px;
    position: relative;
}

.field-small {
    width: 85% !important;
}

.div-sub-form {

    align-content {
        color: @primary-darkness-grey;
    }

    .small-geral {
        width: 93%;
    }

    .dinamic {
        margin-top: 3px;
    }
}

.pre {
    white-space: pre-wrap;
}

.form-div {
    font-size: 10pt;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    width: 100%;
    color: @primary-blue;

    .sub-form {
        margin-bottom: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        color: @primary-blue;

        div {
            margin-bottom: 5px;

            input.n-input {
                width: 100%;
                height: 40px;
                color: @primary-darkness-grey;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            .n-mask-upper {
                width: 96% !important;
                border-radius: 0px !important;
                border-top-left-radius: 5px !important;
                border-bottom-left-radius: 5px !important;
            }

            @media (max-width: 1366px) {
                .n-mask-upper {
                    width: 95% !important;
                }
            }

            .n-mask-string {
                width: 99% !important;
            }
        }
    }

    .btn-radius {
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
        background: @primary-light-grey !important;
        border-color: @primary-light-grey;
        font-size: 16pt;

        .icon-search:before {
            transform: rotate(90deg) !important;
            color: #BDBDBD
        }
    }

    .sub-form-row-right {
        display: flex;
        justify-content: flex-end;
    }

    .sub-form-row {
        margin-bottom: 15px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .btn-form-search {
            margin-right: 30px
        }

        .div-sub-form {
            margin-bottom: 5px;
            width: 100%;

            div:first-child {
                margin-bottom: 10px;
            }

            input, textarea, select {
                color: @primary-darkness-grey;
                background: none;
            }

            input:not([type=radio]):not([type=checkbox]) {
                width: 96%;
                height: 40px;
                border-radius: 5px;
                padding-left: 10px;
            }

            #content_tabMain_ucUnidade_txtUnidade {
                width: 94% !important;
            }

            #content_tabMainFornecedor_ucUniF_txtUnidade {
                width: 96% !important;
            }

            .btn-form-search {
                width: 96% !important;
                border-radius: 0px !important;

                button:not(.n-btn-primary) {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }

                input:not(.n-mask-string):not(.n-mask-custom) {
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
            }

            .n-mask-date {
                width: 45% !important;
            }

            .w-170 {
                width: 170px !important;
            }

            .w-150 {
                width: 150px !important;
            }

            .w-85 {
                width: 85% !important;
            }

            .w-92 {
                width: 92% !important;
            }

            @media (max-width: 1366px) {
                .n-mask-date {
                    width: 43.5% !important;
                }

                .w-85 {
                    width: 92% !important;
                }
            }

            .n-select {
                height: 40px;
                border-radius: 5px;
            }

            .form-end {
                width: 356px !important;
            }
        }
    }

    .sub-small {
        width: 60%;
    }
}

.btn-popup {
    margin-bottom: 5px;
}

.align-self {
    align-self: center;
}

.b-bottom-gray {
    border-bottom: 1px #C1D1E1 solid;
}

.d-flex {
    display: flex
}

.d-flex-colum {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-space-b {
    display: flex;
    justify-content: space-between;
}

.d-flex-end {
    justify-content: flex-end !important;
}

.btn-grey {
    background: @primary-light-grey-header2 !important;
}

.grid-secundary {
    color: #858585 !important;
    border: none !important;

    .name-cyan {
        border-radius: 35px;
        width: 30px;
        display: flex;
        height: 30px;
        align-items: center;
        background: @primary-cyan;
        color: white !important;
        justify-content: center;
    }

    tbody {

        tr {
            border-bottom: 1px solid #F0F0F0;

            td {
                border: none !important;
            }
        }
    }

    th {
        color: #858585 !important;
        border: none !important;
        border: none !important;
        background: white !important;
    }

    tr:nth-child(2n+1) {
        background-color: white !important;
    }

    .n-grid-footer {
        display: none !important
    }

    ~ .n-grid-footer {
        display: none
    }
}

.popup-secundary {
    .n-popup {
        header {
            display: none
        }

        .n-popup-close:before {
            color: #858585 !important
        }
    }

    .popup-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 330px;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 10px;

        i {
            color: @primary-yellow;
            font-size: 80pt
        }

        button {
            width: 150px
        }

        p {
            color: @primary-blue;
            font-size: 23pt;
            text-align: center;
        }
    }
}

.link-button-primary {
    width: 150px;
    height: 45px;
    background: @primary-yellow;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        color: #333333 !important;
        text-decoration: none;
        padding: 10px 50px;

        &:hover {
            text-decoration: none;
            color: #333333 !important;
        }
    }
}

.link-button-default {
    width: 150px;
    height: 45px;
    background: #F2F2F2;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        color: #333333 !important;
        text-decoration: none;
        padding: 10px 50px;

        &:hover {
            text-decoration: none;
            color: #333333 !important;
        }
    }
}

.end-line {
    display: inline-flex;
}

.form-despesa {
    display: inline-flex;
    justify-content: inherit;
    align-items: center;
}

.align-center {
    text-align: center;
}

.form-uc {

    input {
        border-bottom-right-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }

    #content_ucChefe_btnClear, #content_ucSuperintendente_btnClear {
        background-color: #d9534f;
        color: white;
    }

    #content_tabItems_ucItem_btnLimpar {
        color: @primary-darkness-grey;
    }

    #content_tabItems_ucItem_btnLimpar:hover {
        background: @primary-yellow;
    }

    button:hover {
        filter: brightness(85%);
    }

    button:focus {
        border: none !important;
    }

    button:last-child {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        background-color: @primary-yellow;
    }
}

.radius {
    border-radius: 5px !important;
}

.form-uc-radius {
    input {
        border-radius: 5px !important;
    }
}

.m-right-10 {
    margin-right: 15px;
}

.bt-fomr-emit {
    border-bottom: none !important;
    margin-top: 14px;
    justify-content: flex-start !important;
}

a.n-btn-primary {
    background-color: @primary-yellow;
    transition: 0.2s;
    width: 200px;
    cursor: pointer;
    color: @primary-darkness-grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.n-btn-primary:hover {
    background-color: @primary-yellow;
    filter: brightness(90%);
    font-weight: bold;
}

n-btn {
    background-color: @primary-yellow;
    filter: brightness(90%);
    font-weight: bold;
}

.text-box {
    height: 40px;
    padding: 10px;
    min-height: 40px;
}

.icon-right {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    text-decoration: none !important;
}

.icon-right i {
    margin-bottom: 3px;
    color: @primary-yellow;
    font-size: 12pt;
}

.icon-right span {
    margin-bottom: 3px;
    color: @primary-darkness-grey;
    font-size: 8pt;
}

.icon-right:hover {
    background-color: white !important;
    filter: none !important;
}

#content_tabGeral_grdPart_checkboxCol_1 {
    border-radius: 5px !important;
    border-color: black;
}

.check-box button {
    background-color: none;
}

.text-email {
    min-height: 228px;
    height: 228px;
}

.n-checkbox tbody tr td {
    color: @primary-darkness-grey;
}

.n-link-icon-text {
    color: @primary-darkness-grey !important;
}

.event-wrapper {
    p {
        color: @primary-blue;
        margin-top: 25px
    }

    .form-div .sub-form-row .div-sub-form .n-mask-date {
        width: 93% !important;
    }
}

.event-wrapper-grid {
    p {
        color: @primary-blue;
        margin-top: 25px
    }
}

.input-grid {
    border-radius: 5px !important;
    height: 40px;
}

.grid-evento {
    .n-grid-group {
        color: @primary-blue !important;
    }

    .tr {
        background: white;
    }
}

.actions-icon-wrapper {
    a:hover {
        text-decoration: none !important;
    }
}

.actions-icon {
    cursor: pointer;
    margin: 0px 5px;
    font-family: @font-medium;

    span {
        color: black !important;
        font-size: 8pt;
    }

    :hover {
        text-decoration: none !important;
    }
}

.withoutPaged .n-grid-footer {
    display: none !important
}

.home-description {
    margin-top: 50px;
}

.card-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    flex-wrap: wrap;
}

.card-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 260px;
    font-size: 15pt;
    border: 1px solid lightgray;
    text-align: center;
    border-radius: 5px;
    padding-top: 30px;
    margin: 10px;
    background: #fbfbfb;

    &:hover {
        box-shadow: 4px 4px 12px lightgrey;
    }
}

.card-icon {
    font-size: 100px;
    color: @yellow-primary;
}

.card-description {
    width: 100%;
    background: @primary-blue;
    display: flex;
    justify-content: center;
    color: white !important;

    &:hover {
        color: white !important;
        text-decoration: none !important;
    }
}

.n-mask-custom {
    font-family: 13px 'NerpSemiBold', sans-serif !important;
    padding: 6px 4px 5px;
}

.flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

mar-left-8 {
    margin-left: 8%;
}

.n-grid:not(.grid-secundary) .n-grid-group, #content_grdList .n-grid-group {
    background-color: #C0C0C0 !important;
}

.n-grid tbody tr:hover {
    background: none !important;
}

.new {
    display: flex;
    align-items: center;
    justify-content: center;
    color: @primary-darkness-grey !important;
    padding-left: 10px;
    border-radius: 5px;
    padding-right: 10px;
    height : 40px;
    background-color: #5CB85C;
}

.default-bt {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    border-radius: 5px;
    padding-right: 10px;
    height: 40px;
    background-color: #5CB85C;
}

.btsTit {
    margin-top: 25px;
    display: flex !important;
    flex-direction:row !important;
}

.linkBts {
    width: 40px !important;
    display: flex;
    margin: 0px !important;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 40px;
    background-color: #5CB85C;
}

.linkBtsDoc {
    display: flex;
    margin: 0px !important;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    background-color: #5CB85C;
}

.w-96 {
    width: 96% !important;
}

.w-100 {
    width: 100%;
}

a.n-btn-no-text, input.n-btn-no-text, button.n-btn-no-text {
    padding: 4px 13px;
}