@import "base.less";
@import "busybox.less";
@import "misc.less";
@import "nbox.less";

body, html, form {
    font: @font-base;
    margin: 0;
    height: 100%;
    width: 100%;
    min-height: 100%;
    background-color: @body-bg;
}
a {
    text-decoration: none;
    color: @link;
    &:hover {
        text-decoration: underline;
    }
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.n-link-primary {
    color: black !important;

    &:hover {
        text-decoration: none;
        color: black !important;
    }
}

.img-bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    min-height: 100%;
    margin: auto;
    overflow: auto;
    display: none;
}

.img-fadein {
    display: block;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}


.img-numeria {
    position: fixed;
    bottom: 20px;
    right: 20px;
}


.login {
    border-left: 1px solid darken(@grid-border, 15%);
    border-right: 1px solid darken(@grid-border, 15%);
    border-bottom: 1px solid darken(@grid-border, 15%);
    border-top: 1px solid darken(@grid-border, 15%);
    background-color: white;
    box-shadow: 0 0 50px .5px rgba(0, 0, 0, .1);
    width: 500px;
    height: 600px;
    position: relative;
    
    .img-wrapper{
        height:200px;
        display:flex;
        align-items: center;
    }

    img {
        align-self: center;
        margin-bottom: 50px;
    }

    a {
        align-self: center;
        margin-top: 20px;
    }

    .login-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .title {
        font-size: 18px;
        color: #A4A4A4;
        font-weight: 700;
        margin-bottom: 20px;
        display: block;
        text-align: right;

        a.selected {
            color: #A4A4A4;
        }
    }

    input[type=text], input[type=password] {
        display: block;
        font-size: 16px;
        margin-bottom: 25px;
        width: 400px;
        padding: 7px;
        border-right: none;
        border-left: none;
        border-top: none;
    }

    input[type=password] {
        margin-bottom: 60px;
    }

    .n-input:focus {
        box-shadow: none
    }

    .help {
        margin-top: 10px;
    }

    .btn-login {
        display: block;
        margin-top: 15px;
        font-size: 16px;
        font-weight: 700;
        width: 100%;
        padding: 8px;
    }
}
[data-required] {
    background-image: none !important;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}