@import "base.less";
@import "misc";
// Classes helerps para espašamentos
.margin-top { margin-top: @gutter !important; }
.margin-left { margin-left: @gutter !important; }
.margin-right { margin-right: @gutter !important; }
.margin-bottom { margin-bottom: @gutter !important; }

.no-margin-top { margin-top: 0 !important; }
.no-margin-left { margin-left: 0 !important; }
.no-margin-right { margin-right: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }

.space-top { margin-top: 5px !important; }
.space-bottom { margin-bottom: 5px !important; }
.space-left { margin-left: 5px !important; }
.space-right { margin-right: 5px !important; }

.padding-top { padding-top: @gutter !important; }
.padding-left { padding-left: @gutter !important; }
.padding-right { padding-right: @gutter !important; }
.padding-bottom { padding-bottom: @gutter !important; }

.no-padding-top { padding-top: 0 !important; }
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }

.no-border-top { border-top: none !important; }
.no-border-left { border-left: none !important; }
.no-border-right { border-right: none !important; }
.no-border-bottom { border-bottom: none !important; }

.border-top { border-top: 1px solid @grid-border !important; }
.border-left { border-left: 1px solid @grid-border !important; }
.border-right { border-right: 1px solid @grid-border !important; }
.border-bottom { border-bottom: 1px solid @grid-border !important; }

.radius-right { 
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.no-radius-right {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mt-2 { margin-top: 0px !important; }
.ml-10 { margin-left: 10px !important; }
.mt-20 { margin-top: 20px !important; }
.mt-25 { margin-top: 25px !important; }

.mr-20 {margin-right: 2% !important; }

.mono { font: @font-monospace; }

.help {
    color: @font-color;
    font-style: italic;
    font-size: 95%;
    margin: 3px 0 -3px 0;
}

span.help {
    margin-left: 5px;
    position: relative;
}

.primary { color: @primary; }
.info { color: @info; }
.success { color: @success; }
.danger { color: @danger; }
.warning { color: @warning }

.input-group {
    display: inline-flex;
    position: relative;
    //top: 1px;
    width: 100%;

    *:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    #content_ucEntidade_txtEntidade {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 100% !important;
    }

    *:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    & > *:not([type="hidden"]) + [class^="n-"] {
        border-left: none !important;
    }

    & > .field {
        top: 0 !important;
    }

    & > .field + .field {
        border-left: 0;
    }

    .n-btn-info {
        background-color: #d6d6d6 !important;
    }
}

div.input-group {
    display: flex;
}

input::-ms-clear {
    display: none;
}

.right {
    float: right !important;
    ul {
        left: initial !important;
        right: 0;
    }
}

.t-bold {
    font-weight: bold !important;
}
.t-center {
    text-align: center !important;
}
.t-right {
    text-align: right !important;
}

// alinha os elementos filhos: 1 pra esquerda, um pra direita
.left-right {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.n-btn {
    border: none;
    color: @primary-darkness-grey;
    font-weight: 600;
    font-size: 11pt;
    height: 40px;
    border-radius: 5px;
}

.n-btn:hover {
    filter: brightness(90%);
}

.n-btn-primary {
    height: 40px;
    background: @yellow-primary;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    transition: 0.2s;
    border-radius: 5px;
}

.n-btn-danger {
    height: 40px;
    color: white;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    transition: 0.2s;
    border-radius: 5px;
}

.n-btn-danger:focus {
    filter: brightness(90%);
    border: none;
}

.n-btn-primary:hover {
    background: @yellow-primary;
    color: @primary-darkness-grey;
    filter: brightness(90%);
    border: none;
    //border-radius: 5px;
}

.n-btn-primary:focus {
    background: @yellow-primary;
    color: @primary-darkness-grey;
    filter: brightness(90%);
    border: none;
}

//cancel btn
.bt-cancel {
    background-color: @primary-light-grey-header2 !important;
    cursor: pointer !important;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);

    &:focus {
        filter: brightness(90%);
        border: none;
    }
}

.bt-cancel:hover {
    filter: brightness(50%);
}

.bt-cancel:focus {
    filter: brightness(90%);
    border: none;
}

.btn-long {
    width: 300px;
    height: 50px;
}

.top-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nowrap {
    white-space: nowrap;
}

.nowrap-ellipsis {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.no-titulo {
    top: 3px;
    display: inline-block;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 150px;
    background-color: transparent !important;
    color: @font-color;
    font-weight: normal;
}

.input-group .no-titulo, caption .no-titulo, .field .no-titulo {
    top: 0;
}

.link-upload {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    color: @primary;
    display: inline-block;
    text-decoration: none;
    &:hover {
        color: darken(@primary, 5%);
        text-shadow: 2px 2px 2px rgba(127, 127, 127, 0.4);
    }
    input[type=file] {
	    position: absolute;
	    top: 0;
	    right: 0;
	    left: 0;
	    bottom: 0;
	    margin: 0;
	    padding: 0;
	    font-size: 40px;
	    cursor: pointer;
	    opacity: 0;
	    filter: alpha(opacity=0);
        display: block !important;
    }
}

.autocomplete-suggestion .right {
    font-size: 90%;
    color: gray;
    float: right;
}
.autocomplete-suggestion .small {
    font-size: 80%;
    color: gray;
    position: relative;
    top: -1px;
    left: 5px;
}

.small {
    font-size: 80%;
    color: @font-color;
}

.btn-cancel {
    color: #333333;
    background-color: white !important;
    border-color: #cccccc !important;
}

.person:not(:last-child) {
    margin-right: 2%;
}