﻿@import "base.less";

.n-grid, .form {
    margin-top: @gutter;
}

.n-input:disabled, .n-dropdown:disabled, .n-select:disabled {
    background-color: #F9F9F9;
}

.n-tabs-content > .form:first-child, .n-tabs-content > div > .n-grid:first-child {
}

.n-input, .n-select {
    border-radius: 0px;
}

.no-tab { 
    padding: 0 !important; 
    border-top: none !important;
}

.n-tabs {
    border: none !important;
    background-color: @header-bg;
    padding-top: 10px;
    margin-left: -@content-margin;
    margin-right: -@content-margin;

    &:first-child {
        padding-top: 0;
    }

    & > label {
        padding: 6px 20px 4px;
        margin-right: 0 !important;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        background-color: lighten(@header-bg, 6%);
        border-top: 1px solid @grid-border;
        border-left: 1px solid @grid-border;
        border-right: 1px solid @grid-border;
        border-bottom: none;

        &.disabled {
            background-color: transparent;
            border: transparent;
            cursor: default;
        }
    }

    & > input:first-child + label {
        margin-left: @content-margin;
    }

    & > input[type=radio]:checked + label {
        padding: 7px 20px 4px;
        color: black;
        background-color: @body-bg;
        border-color: lighten(@header-bg, 1%);
        border-top: 1px solid @grid-border;
        border-left: 1px solid @grid-border;
        border-right: 1px solid @grid-border;
        font-weight: bold;
        border-bottom: 1px solid white;
        position: relative;
        top: 0px;
    }

    & > input[type=radio] + label + div + input[type=radio] + label {
        //border-left: none !important;
    }

    .n-tabs-content {
        background-color: white !important;
        //padding: 0 !important;
        padding: 0px 0px 0px 30px !important;
    }
}

// Quando for o primeiro elemento, sobe um pixel
.page-content > .n-tabs:first-child {
    position: relative;
    top: -1px;
    padding-top: 0px;
}

.n-toolbar {
    background-color: @body-bg;
    padding-bottom: 15px;
    padding-right: 0px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid @grid-border;
    display: flex;
    justify-content: flex-end;
}

.n-btn-default {
    color: #333333;
    background-color: @primary-yellow;
    border-color: none !important;
    transition: 0.2s;

    &:hover {
        filter: brightness(90%);
        background-color: @primary-yellow;
        box-shadow: rgba(0,0,0,0.1) 0px 0px 15px 5px inset;
        //border-color: #adadad;
        &:disabled {
            //background-color: white !important;
        }
    }

    &::before {
    }

    &:focus {
        border: none;
        background-color: @primary-yellow;
        box-shadow: none;
    }
}

.n-dropdown-default > button {
    background: none;
    color: @primary-darkness-grey;
    border-radius: 5px;
    border-color: #cbd5dd;
    height: 40px;

    &:hover {
        filter: brightness(90%);
        box-shadow: rgba(0,0,0,0.1) 0px 0px 15px 5px inset;
        border-color: #adadad;

        &:disabled {
            //background-color: white !important;
        }
    }

    &::before {
        padding-top: 5px;
        top: 18px;
    }
}

.n-dropdown-default > label ul {
    top: 41px;
    border-radius: 5px;

    li a {
        padding: 6px 24px;
    }
}

.n-dropdown-default > button:hover {
    filter: brightness(90%);
}

.page-content > .n-toolbar:first-child,
.n-tabs-content > .n-toolbar:first-child {
    border-top: none;
    margin-top: 0;
}

.form {
    .n-dropdown > button {
        background-color: white !important;
        border-color: @input-border !important;
        border-radius: 0;
    }
}

.n-grid:not(.grid-secundary), #content_grdList {
    border: 1px solid @grid-border !important;
    box-shadow: none;
    color: @primary-darkness-grey;
    font-size: 10pt;
    border: none !important;
    max-width: 100%;

    caption {
        padding: 8px;
        background-color: #f6f7fa;
        border-left: 1px solid @grid-border;
        border-top: 1px solid @grid-border;
        border-right: 1px solid @grid-border;
        border-bottom: 1px solid @grid-border;
        text-align: left;
        font-weight: 600;
        margin-bottom: 10px;
    }

    thead input {
        font-weight: normal;
    }

    tr {
        border: none !important;
    }

    tr:hover {
        background-color: rgba(0,0,0,0.0);
    }

    tr:nth-child(2n+1) {
        background-color: @primary-light-grey-header2 !important;
    }

    td {
        a {
            color: @primary-darkness-grey;
        }
    }

    th {
        border: none !important;
        border-left: none !important;
        border-right: none !important;
        background-color: white !important;
        color: @primary-blue !important;
        //text-transform: uppercase;
        a {
            color: @primary-blue !important;
        }
    }

    tbody {

        tr {

            td {
                border: none !important;
            }
        }
    }

    .n-grid-group {
        padding-left: 8px;
        background-color: @default;
        //color: white;
        &:before {
            border-left: none;
        }
    }

    .n-grid-pager:hover {
        background-color: #000;
    }

    .n-grid-footer {
        background-color: #e9ebeb;
        font-weight: bold;
        border-top: 2px solid #d0d0d0;
    }
}
.n-grid-footer {
    color: @font-color;
    position: relative;
    font-size: 10pt;
    align-self: flex-end;

    .n-grid-paging {
        background-color: white;
        box-shadow: 0 0 3px 2px rgba(0,0,0,0.1);
        text-align: center;
        padding: 3px 10px 10px 10px;
        width: 150px;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 35px;
        right: 20px;
        transition: 2s;
        color: #828282;
    }

    .n-grid-paging a {
        font-size: 10pt;
        text-decoration: none;
        color: #828282;
        font-family: @font-medium;
        margin-bottom: 5px
    }

    .n-grid-paging :nth-child(1) {
        margin-top: 10px;
    }

    .n-grid-paging a:hover {
        color: @primary-blue;
        font-family: @font-medium;
        margin-bottom: 5px
    }

    .n-grid-paging span {
        font-size: 10pt;
        color: @primary-blue;
        font-family: @font-monospace;
        margin-bottom: 5px
    }

    .n-grid-total {
        padding: 10px;
    }
}

.n-grid-footer:hover {
    .n-grid-paging {
        display: flex;
    }
}

#table-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.n-popup {
    border-width: 0px;
    border-radius: 0;
    border-color: #666666;
    //min-height: 360px !important;
    background-color: @body-bg;

    .n-popup-title {
        background-color: @primary-blue;
        color: white;
        padding: 10px 15px;
        min-height: 40px;
        //padding-bottom: 15px;
        font-family: @font-base;
        font-size: 16px;
        font-weight: bold;
    }

    .n-popup-close:before {
        color: white;
        margin-top: 0px;
        font-size: 14pt;
    }

    .n-popup-content {
        padding-top: 0;
        background-color: @body-bg;
        padding-left: @gutter;
        padding-right: @gutter;

        & > .n-toolbar:first-child {
            margin-top: 0;
        }

        & > .n-toolbar:last-child {
            border-top: 1px solid @grid-border;
        }
    }

    .n-tabs {
        margin-left: -@gutter;
        margin-right: -@gutter;

        & > input:first-child + label {
            margin-left: @gutter;
        }

        .n-tabs-content {
            padding: 0px 30px 0px 30px !important;
        }
    }

    .n-toolbar {
        border-top: none !important;
        margin-left: -@gutter;
        margin-right: -@gutter;
        padding-left: @gutter;
        padding-right: @gutter !important;
        background-color: transparent;
    }
}

.m-0 {
    margin-top: 0px;
}

.m-15 {
    margin-top: 15px;
}
