﻿@import "base.less";

// laranja: #e3a21a
// azul: #0099ff

@selected:  #FF9500;

.sitemap {
    display:none;
    overflow-y: auto; 
    &::-webkit-scrollbar {
        width: 8px;
        background-color: transparent;
    } 
    &::-webkit-scrollbar-thumb {
        border: 2px solid @menu-bg;
        border-radius: 10px;
        background-color: silver !important;
    }
    ul, li {
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
    }
    i {
        margin-right: 5px;
    }
    label {
        //width: 100%;
        border-top: 1px solid darken(@menu-bg, 3%);
        display: block;
        margin: 5px 0;
    }
    a, span {
        top: 0 !important;
        left: 0 !important;
        display: block;
        padding: 10px 15px;
        color: white;
        cursor: pointer;
        //text-overflow: ellipsis;
        //overflow: hidden;
        //word-break: normal;
        //white-space: nowrap;
    }
    a:hover, span:hover {
        color: @selected;
        text-decoration: none;
        display: block;
        cursor: pointer;
        background-color: darken(@menu-bg, 2%);
    }
    ul > li {
        margin-left: 0;
    }
    ul > li > ul > li > a {
        padding-left: 40px !important;
    }
    li > span:before {
        width: 12px;
        height: 12px;
        position: absolute;
        font-size: 9px;
        top: 12px;
        right: 10px;
        opacity: 1;
        content: '▶';
    }
    li.open > span:before {
        right: 12px;
        content: '▼';
    }
    li > ul {
        display: none;
    }
    li.open > ul {
        display: block;
    }
    li.selected > a {
        //background-color: darken(@menu-bg, 12%);
        background-color: white;
        font-weight: 600;
        color: black;
        &:before {
            border-left: 5px solid @selected;
            width: 5px;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0px;
            content: ' ';
        }
    }
    .empty {
        text-align: center;
        padding: @gutter 0;
        color: #999999;
    }
}
