﻿.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;    
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;    
    color: #8E8E8E;
    display: inline-block;
}

.inputfile + label {
    cursor: pointer;
}

.form-solicitation {
    display: flex;
    flex-direction: column;
    height: auto;

    input[type=text] {
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        font-family: @font-medium;
    }

    input[type=number] {
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        font-family: @font-medium;
    }

    :nth-child(3):not(label):not(button):not(input) {
        border-bottom: 1px solid @primary-light-grey;
        height: 120px !important;
    }

    :nth-child(4):not(label):not(button) {
        border-bottom: 1px solid @primary-light-grey;
        height: 120px !important;
    }

    button {
        align-self: center;
    }

    .n-checkbox input:after, .n-radio input:after {
        left: -5px !important;
        top: -5px !important;
        height: 20px !important;
        width: 20px !important;
        color: white;
        background: @primary-cyan;
        border: none;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .radio-yellow .n-radio {
        input:after {
            left: -5px !important;
            top: -5px !important;
            height: 18px !important;
            width: 18px !important;
            color: @primary-yellow;
            background: #ffffff;
            border: 1px solid #a99e9e;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        input:checked:after {
            border: 1px solid @primary-yellow;
        }
    }

    .n-checkbox input:checked:after {
        color: white;
    }
}

.sub-form-arquivo {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    height: 80px;
    margin-top: 20px;

    span {
        color: @primary-blue;
        font-size: 24pt;
    }
}

.sub-form-solicitation {
    text-transform: uppercase;

    p {
        color: @primary-blue;
        font-size: 24pt;
    }

    input[type=checkbox] {
        margin-top: 20px;
        margin-bottom: 50px;                
    }

    .n-checkbox label{
        font-size: 12pt
    }
}

.sub-form-solicitation-col {
    margin-bottom: 30px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;

    .title {
        color: @primary-blue;
        font-size: 36pt;
    }

    .sub-title {
        margin-top: 30px
    }
}

.form-buttons {
    font-family: @font-title;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;

    .n-btn-info {
        background: #D6D6D6
    }
}

.align-self {
    align-self: center;
}