﻿
    <table style="margin:0 auto; font-family:Arial">
        <tr style="background:#054589; height: 56px; color:white; text-align:center">
            <td>
                CREA- SP | Nova solicitação de pagamento de Fornecedor
            </td>
        </tr>

        <tr>
            <td style="text-align: center; vertical-align: middle !important;">
                <img src="https://ibb.co/MMC43S8" />
            </td>
        </tr>

        <tr>
            <td style="text-align: center; vertical-align: middle !important;">
                #NOME#
            </td>
        </tr>

        <tr>
            <td style="text-align: center; vertical-align: middle !important;">
                Há um novo processo de solicitação de pagamento #NOME#, no valor #VALOR# aguardando sua validação
            </td>
        </tr>

        <tr style="text-align: center">
            <td>
                Para acesso a ferramenta de aprovação <a href="#URL#" target="_blank">utilize o link</a>
            </td>
        </tr>
    </table>